## Preprocessing

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd

In [13]:
name_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
name_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN' 
# Dropping additional columns
name_df = name_df.drop(['EIN','SPECIAL_CONSIDERATIONS','STATUS'],1)

C:\Users\Owner\AppData\Local\Temp\ipykernel_3560\3822163180.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  name_df = name_df.drop(['EIN','SPECIAL_CONSIDERATIONS','STATUS'],1)

In [15]:
# Determine the number of unique values in each column.
name_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [16]:
# Changing APPLICATION_TYPE to NAME value counts for binning
name_counts = name_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [17]:
# Choose a cutoff value and create a list of Names to be replaced
# use the variable name `name_types_to_replace`
# Updating the counts from 1000 to 500, 100
name_types_to_replace = list(name_counts[name_counts < 10].index)

# Replace in dataframe
for app in name_types_to_replace:
    name_df['NAME'] = name_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
name_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts for binning
classification_counts = name_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [19]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Changing Classifications 1, 10, 100
classification_counts[classification_counts > 1000]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Changing classification counts from 4000 to 1500, 2000

classifications_to_replace = list(classification_counts[classification_counts < 4000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    name_df['CLASSIFICATION'] = name_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
name_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
df_application_dummies = pd.get_dummies(name_df,dtype=float)

In [22]:
# Split our preprocessed data into our features and target arrays
y = df_application_dummies['IS_SUCCESSFUL'].values
X = df_application_dummies.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
# Changing random state from 33 to 3, 33,42
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33)

C:\Users\Owner\AppData\Local\Temp\ipykernel_3560\1493266158.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df_application_dummies.drop(['IS_SUCCESSFUL'],1).values

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Adding hidden layers. Updating counts of layer 1 from 42 to 99,66 Updating layer 2 from 9 to 42, adding 3 layer with a value of 9, 33 
# Layer 4 - 3, 9
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  66
hidden_nodes_layer2 =  9
hidden_nodes_layer3 =  3
hidden_nodes_layer4 =  9

nna = tf.keras.models.Sequential()

# First hidden layer
# Changing activation method from relu to tanh, selu, para_relu
nna.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)


# Second hidden layer
# Changing activation method from relu to 
nna.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nna.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="selu"))

# Output layer
nna.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nna.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 66)                17820

 dense_1 (Dense)             (None, 9)                 603

 dense_2 (Dense)             (None, 3)                 30

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 18,457
Trainable params: 18,457
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nna.compile(loss='binary_crossentropy', optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
# Increasing number of epochs from 100 to 103
fit_model = nna.fit(X_train_scaled,y_train,epochs=103)

Epoch 1/103
804/804 [==============================] - 2s 2ms/step - loss: 0.5002 - accuracy: 0.7544
Epoch 2/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4662 - accuracy: 0.7788
Epoch 3/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4591 - accuracy: 0.7811
Epoch 4/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4558 - accuracy: 0.7835
Epoch 5/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4526 - accuracy: 0.7854
Epoch 6/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4505 - accuracy: 0.7856
Epoch 7/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4484 - accuracy: 0.7851
Epoch 8/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4473 - accuracy: 0.7861
Epoch 9/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4456 - accuracy: 0.7860
Epoch 10/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4444 - accuracy: 0.7865
Epoch 11/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4431 - accuracy: 0.7883
Epoch 12/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4424 - accuracy: 0.7876
Epoch 13/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4406 - accuracy: 0.7885
Epoch 14/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4396 - accuracy: 0.7893
Epoch 15/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4383 - accuracy: 0.7897
Epoch 16/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4378 - accuracy: 0.7898
Epoch 17/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4372 - accuracy: 0.7896
Epoch 18/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4359 - accuracy: 0.7903
Epoch 19/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4352 - accuracy: 0.7909
Epoch 20/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4351 - accuracy: 0.7909
Epoch 21/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4340 - accuracy: 0.7918
Epoch 22/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4333 - accuracy: 0.7903
Epoch 23/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4329 - accuracy: 0.7921
Epoch 24/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4324 - accuracy: 0.7916
Epoch 25/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4319 - accuracy: 0.7919
Epoch 26/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4309 - accuracy: 0.7926
Epoch 27/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4313 - accuracy: 0.7929
Epoch 28/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4308 - accuracy: 0.7930
Epoch 29/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7935
Epoch 30/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4299 - accuracy: 0.7930
Epoch 31/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4296 - accuracy: 0.7935
Epoch 32/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4293 - accuracy: 0.7930
Epoch 33/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4290 - accuracy: 0.7927
Epoch 34/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4284 - accuracy: 0.7939
Epoch 35/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4283 - accuracy: 0.7928
Epoch 36/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4278 - accuracy: 0.7941
Epoch 37/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4273 - accuracy: 0.7935
Epoch 38/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4272 - accuracy: 0.7935
Epoch 39/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4267 - accuracy: 0.7944
Epoch 40/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4265 - accuracy: 0.7948
Epoch 41/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4260 - accuracy: 0.7942
Epoch 42/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4256 - accuracy: 0.7939
Epoch 43/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4257 - accuracy: 0.7944
Epoch 44/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4253 - accuracy: 0.7950
Epoch 45/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.7937
Epoch 46/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7937
Epoch 47/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.7942
Epoch 48/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4244 - accuracy: 0.7940
Epoch 49/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4248 - accuracy: 0.7945
Epoch 50/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4242 - accuracy: 0.7950
Epoch 51/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4242 - accuracy: 0.7942
Epoch 52/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7939
Epoch 53/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4239 - accuracy: 0.7939
Epoch 54/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4234 - accuracy: 0.7954
Epoch 55/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7946
Epoch 56/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4231 - accuracy: 0.7945
Epoch 57/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4233 - accuracy: 0.7933
Epoch 58/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4231 - accuracy: 0.7949
Epoch 59/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.7953
Epoch 60/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.7943
Epoch 61/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4223 - accuracy: 0.7956
Epoch 62/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4227 - accuracy: 0.7946
Epoch 63/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4221 - accuracy: 0.7950
Epoch 64/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7939
Epoch 65/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4218 - accuracy: 0.7954
Epoch 66/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7952
Epoch 67/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7952
Epoch 68/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4216 - accuracy: 0.7959
Epoch 69/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7958
Epoch 70/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4214 - accuracy: 0.7942
Epoch 71/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4215 - accuracy: 0.7954
Epoch 72/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7949
Epoch 73/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.7958
Epoch 74/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4214 - accuracy: 0.7951
Epoch 75/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.7956
Epoch 76/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7957
Epoch 77/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7954
Epoch 78/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7957
Epoch 79/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7959
Epoch 80/103
804/804 [==============================] - 2s 3ms/step - loss: 0.4208 - accuracy: 0.7959
Epoch 81/103

804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7958
Epoch 82/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4205 - accuracy: 0.7956
Epoch 83/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7952
Epoch 84/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7939
Epoch 85/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4202 - accuracy: 0.7950
Epoch 86/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7966
Epoch 87/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7956
Epoch 88/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4199 - accuracy: 0.7954
Epoch 89/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4198 - accuracy: 0.7965
Epoch 90/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7967
Epoch 91/103
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7950
Epoch 92/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4192 - accuracy: 0.7961
Epoch 93/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.7948
Epoch 94/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7961
Epoch 95/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7955
Epoch 96/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7958
Epoch 97/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.7958
Epoch 98/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4191 - accuracy: 0.7952
Epoch 99/103
804/804 [==============================] - 1s 1ms/step - loss: 0.4190 - accuracy: 0.7947
Epoch 100/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4190 - accuracy: 0.7961
Epoch 101/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4192 - accuracy: 0.7961
Epoch 102/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4190 - accuracy: 0.7958
Epoch 103/103
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7954

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nna.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4604 - accuracy: 0.7874 - 374ms/epoch - 1ms/step
Loss: 0.4604155719280243, Accuracy: 0.787405252456665

In [29]:
# Export our model to HDF5 file
nna.save('AlphabetSoupCharity_Optimization.h5')